<div class="home-background">
	<div class="content-with-home-background">
		<div [@flyIn] class="main-content float-content-shadow">
			<div class="section-title">{{ 'home-page.title' | translate }}</div>
			<div class="section-body">
				<div class="section-paragraph">
					<span>{{ 'home-page.subtitle' | translate }}</span>
				</div>
				<div class="section-paragraph">
					<span>{{ 'home-page.design-description' | translate }}</span>
					<a class="highlight" routerLink="/about">{{ 'home-page.design-link-description' | translate }}</a>
				</div>

				<div class="section-notes">
					<span>{{ 'home-page.notes-part1' | translate }}</span>
					<img class="link-img" src="/assets/images/chrome-icon.png" />
					<span>{{ 'home-page.notes-part2' | translate }}</span>
				</div>
			</div>
		</div>
	</div>
</div>