.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.mat-header {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-header-row, .mat-row {
	padding: 0 20px;
}

.mat-cell, .mat-header-cell {
    padding: 5px;
}
