<div>
    <div class="content-title">{{ 'admin-page.manage-page.title' | translate }}</div>
    <div class="content-main">
        <div>
            <div>{{ 'page-under-construction-message' | translate }}</div>
            <div class="margin-top-15px">{{ 'admin-page.manage-page.explaination' | translate }}</div>

            <div class="list-block">
                <span class="description-title">{{ 'admin-page.manage-page.detail-title' | translate }}</span>
                <mat-list>
                    <mat-list-item class="description-item">{{ 'admin-page.manage-page.username-detail' | translate }}</mat-list-item>
                    <mat-list-item class="description-item">{{ 'admin-page.manage-page.password-detail' | translate }}</mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
</div>