.table-width {
    width: 70%;
}

.important-text {
    font-weight: bold;
}

.description {
    margin-top: 10px;
    font-size: 15px;
}

.startProcessMessage {
    margin: 5px 0px;
    color: #8b0000;
}

.result-section {
    // color: #0928e3;
}

.normal-api-text-position {
    margin-left: 284px;
}

.button {
    color: #0928e3;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-top-20 {
    margin-top: 20px;
}

.ingrogress {
    color: #88afe0;
    vertical-align: bottom;
}


.success {
    color: #18c318;
    vertical-align: bottom;
}

.fail {
    color: #ff0000eb;
    vertical-align: bottom;
}

.kafka-stream-img {
    width: 800px;
}