<div>
    <div class="content-title">Demo for Event Sourcing using Kafka Stream:</div>
		<div class="content-main">
      <div>
				<div>
						<span>Event Sourcing</span>
						<span class="normal-api-text-position">Normail API calls</span>
				</div>
				<div>
					<img class="kafka-stream-img" src="/assets/images/microservices-kafka-1.jpg" />
				</div>
      </div>
		  <mat-card class="margin-top-20">
			  <div class="row title">Start Application Life cycle for Application 1 to Application 20 (Total 20 Applications)</div>
        <div class="row description">we will call OOC (origination and orchestration) servive to start processing Application 1, Application 2 ... Application 20.</div>
        <div class="row description">1) Buearu Service takes <b>5</b> seconds to complete. <br> 2) Ajudication Service takes <b>1</b> second to complete.</div>
        <div class="row description">3) Status Icon:</div>
				<div>
					<span class="margin-left-20"><i class="material-icons ingrogress" matTooltip="IN PROGRESS" >directions_run</i> - In Progress </span>
					<span class="margin-left-20"><i class="material-icons success" matTooltip="COMPLETED" >check_circle</i> - Completed </span>
					<span class="margin-left-20"><i class="material-icons fail" matTooltip="FAILED" >check_circle</i> - Failed </span>
				</div>
        <mat-card-actions class="margin-top-20">
            <button mat-button class="button" (click)="testProcess20Apps()">Start</button>
            <button mat-button class="button" (click)="getApplicationsProcessDetailData()">Get Processing Details</button>
            <button mat-button class="button" (click)="getApplicationSummaryData(10)">Get Processing Summary (Past 10 minutes)</button>
          <button mat-button class="button" (click)="getApplicationSummaryData(1440)">Get Processing Summary (Past 1 day)</button>
        
        </mat-card-actions>

        <div class="margin-top-20 result-section" *ngIf="processSummary">
          <div>
            <i class="material-icons success" matTooltip="COMPLETED">check_circle</i> 
            <span> Applications: {{ processSummary.COMPLETED }}</span>
          </div>
          <div>
            <i class="material-icons fail" matTooltip="FAILED">cancel</i> 
            <span> Applications: {{ processSummary.FAILED }}</span>
          </div>
        </div>
			
        <div class="margin-top-20 result-section" *ngIf="isFinished">
          <span><b>Average Processing Time: {{ durationSeconds }} Seconds per Application</b></span>
        </div>

		  	<div class="margin-top-20">
				<mat-table #table [dataSource]="dataSource" matSort class="table-width">
					<ng-container matColumnDef="applicationNumber">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Application Number</mat-header-cell>
						<mat-cell *matCellDef="let application">{{application.applicationNumber}} </mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="bureauStatus">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Bureau</mat-header-cell>
						<mat-cell *matCellDef="let application">
							<i class="material-icons ingrogress" matTooltip="IN PROGRESS" *ngIf="(application.bureauStatus == 'INPROGRESS')">directions_run</i>
							<i class="material-icons success" matTooltip="COMPLETED" *ngIf="(application.bureauStatus == 'COMPLETED')">check_circle</i>
							<i class="material-icons fail"  matTooltip="FAILED" *ngIf="(application.bureauStatus == 'FAILED')">cancel</i>
						</mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="tsysStatus">
						<mat-header-cell *matHeaderCellDef mat-sort-header>TSYS</mat-header-cell>
						<mat-cell *matCellDef="let application">
							<i class="material-icons ingrogress" matTooltip="IN PROGRESS" *ngIf="(application.tsysStatus == 'INPROGRESS')">directions_run</i>
							<i class="material-icons success" matTooltip="COMPLETED" *ngIf="(application.tsysStatus == 'COMPLETED')">check_circle</i>
							<i class="material-icons fail" matTooltip="FAILED" *ngIf="(application.tsysStatus == 'FAILED')">cancel</i>
						</mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="ajdcStatus">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Adjudication</mat-header-cell>
						<mat-cell *matCellDef="let application">
							<i class="material-icons ingrogress" matTooltip="IN PROGRESS" *ngIf="(application.ajdcStatus == 'INPROGRESS')">directions_run</i>
							<i class="material-icons success" matTooltip="COMPLETED" *ngIf="(application.ajdcStatus == 'COMPLETED')">check_circle</i>
							<i class="material-icons fail" matTooltip="FAILED" *ngIf="(application.ajdcStatus == 'FAILED')">cancel</i>
						</mat-cell>
					</ng-container>

					<ng-container matColumnDef="createdDate">
						<mat-header-cell *matHeaderCellDef>Created Date</mat-header-cell>
						<mat-cell *matCellDef="let application"> {{application.createdDate}} </mat-cell>
					</ng-container>
	
					<ng-container matColumnDef="lastUpdatedDate">
						<mat-header-cell *matHeaderCellDef mat-sort-header>Last Update Date</mat-header-cell>
						<mat-cell *matCellDef="let application">  {{application.lastUpdatedDate}} </mat-cell>
					</ng-container>
					
					<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
				</mat-table>
		  	</div>
			<!-- <mat-card-content>
				<div class="row" *ngIf="testProcess20AppsResult"><pre>{{testProcess20AppsResult}}</pre></div>
			</mat-card-content> -->
		  </mat-card>
		</div>
</div>
