<div>
  <div class="content-title">{{ 'about-page.frontend-page.title' | translate }}</div>
  <div class="content-main">
    <div class="description-with-link">
      <span>{{ 'about-page.source-code' | translate }}</span>
      <a class="link" href="https://github.com/k2he/Angular-7-Frontend/tree/monolithic-v1.1-cloud" target="_blank">
        <img class="link-img" src="/assets/images/github-icon-2.png" />
        <span>{{ 'about-page.frontend-page.source-code-github' | translate }}</span>
      </a>
      <a class="link" href="https://cloud.docker.com/repository/docker/victoryssmile/angular-app" target="_blank">
        <img class="link-img" src="/assets/images/docker_hub.png" />
        <span>{{ 'about-page.frontend-page.source-code-dockerhub' | translate }}</span>
      </a>
    </div>
    <div class="list-block margin-top-30px">
      <span class="description-title">{{ 'about-page.frontend-page.tech-desc-title' | translate }}</span>
      <mat-list>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.tech-desc-item1' | translate }}</mat-list-item>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.tech-desc-item2' | translate }}</mat-list-item>
        <mat-list-item class="description-item">{{ 'about-page.frontend-page.tech-desc-item3' | translate }}</mat-list-item>
      </mat-list>
    </div>
    <div class="content-block">
      <div>
        <div class="description-title">{{ 'about-page.frontend-page.feature-title' | translate }}</div>
        <div class="section">
          <div class="section-text">
              {{ 'about-page.frontend-page.feature-desc' | translate }}
          </div>

          <div class="section">
            <div class="section-title margin-top-30px">{{ 'about-page.frontend-page.structure-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.structure-desc' | translate }}
            </div>
          </div>

          <div class="section">
            <div class="section-title">{{ 'about-page.frontend-page.language-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.language-desc' | translate }}
            </div>
          </div>

          <div class="section">
            <div class="section-title">{{ 'about-page.frontend-page.forms-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.form-desc' | translate }}
            </div>
          </div>
          <div class="section">
            <div class="section-title">{{ 'about-page.frontend-page.lazy-load-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.lazy-load-desc' | translate }}
            </div>
          </div>
          <div class="section">
            <div class="section-title">{{ 'about-page.frontend-page.globel-handler-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.globel-handler-desc' | translate }}
            </div>
          </div>

          <div class="section">
            <div class="section-title">{{ 'about-page.frontend-page.user-role-title' | translate }}</div>
            <div class="section-text">
                {{ 'about-page.frontend-page.user-role-desc' | translate }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>