.mat-toolbar.mat-primary {
	background: #353639;
	border: none;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.mat-button {
    text-transform: uppercase;
    
    &:hover {
        background-color: #7c7c80fa;
        color: white;
    }
}

.nav-bar {
	border-radius: 0;
	position: relative;
    height: 80px;
    
    a {
        text-decoration: none;
    }
}

.nav-logo {
    width: 50px;
    height: 50px;
}

.nav-title {
    padding: 5px 10px;
	color: #66d04b;
	font-size: 26px;
    line-height: 31px;
    // font-family: Noto Sans, sans-serif;
    font-family: Didot, serif;
    border-radius:5px;
    margin-left: 20px;
    -webkit-box-shadow: 1px 2px 11px 5px #aaff078c;  /* Safari*/
	-moz-box-shadow:    1px 2px 11px 5px #aaff078c;  /* Firefox */
	box-shadow:         1px 2px 11px 5px #aaff078c;  /* Other */
}


.nav-links {
	position: absolute;
	right: 170px;
	color: #dadada;
    bottom: 13px;
    
    .mat-button {
        font-family: Helvetica, sans-serif;
    }
}
.toolBar {
    position: absolute;
    right: 25px;
}

.welcome {
    font-size: 12px;
    color: #8ad021ed;
}

.tools {
    color: #8ad021ed;
    float: right;
    margin-top: 8px;
    
    .material-icons {
        font-size: 28px;
        color: #8ad021ed;
    }
}

.new-project-circle {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-size: 0.52em;
    color: #ffffff;
    line-height: 18px;
    text-align: center;
    background-color: #da2929;
    position: absolute;
    z-index: 10;
}
.welcome {
    .message {
        display: inline-block;
    }

    .user-image-circular {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-left: 10px;
        -webkit-border-radius: 100%;
        /* border-radius: 100%; */
    }
}