.table-width {
    width: 60%;
}

.startProcessMessage {
    margin: 5px 0px;
    color: #8b0000;
}

.button {
    color: #0928e3;
}

.margin-top-20 {
    margin-top: 20px;
}

.ingrogress {
    color: #88afe0;
}

.success {
    color: #18c318;
}

.fail {
    color: #ff0000eb;
}