<div class="login home-background">
  <div class="content-with-home-background">
    <mat-card [@showUp] class="center width-400px login-card float-content-shadow">
      <mat-card-header>
        <mat-card-title class="popup-title">{{ 'login-page.title' | translate }}</mat-card-title>
        <!-- <a class="display-inline tools" matTooltip="Username: test Password: 12345">
          <i class="material-icons">subject</i>
        </a> -->
      </mat-card-header>
      <mat-card-content>
        <div>
          <div>
            <a class="btn btn-block social-btn" (click)="socialLogin('google')">
              <img src="/assets/images/google-logo.png" alt="Google" />{{ 'login-page.google' | translate }}
            </a>
            <a class="btn btn-block social-btn" matTooltip="{{ 'login-page.facebook-tip' | translate }}">
              <img src="/assets/images/fb-logo.png" alt="Facebook" />{{ 'login-page.facebook' | translate }}
            </a>
            <!-- <a class="btn btn-block social-btn" (click)="socialLogin('facebook')"><img src="/assets/images/fb-logo.png" alt="Facebook" />{{ 'login-page.facebook' | translate }}</a> -->

            <div class="or-separator">
              <span class="or-text">{{ 'login-page.or' | translate }}</span>
            </div>
          </div>
        </div>
        <a class="display-inline tools" matTooltip="Username: test Password: 12345">
          <i class="material-icons">lock_open</i>
        </a>
        <div *ngIf="loginFailErrorMessage" class="error">{{loginFailErrorMessage}}</div>
        <form (ngSubmit)="login()" (keydown.enter)="login()" #loginForm='ngForm'>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'login-page.username' | translate }}" name="username" required [(ngModel)]="username" (change)="clearError()">
            <mat-error>{{ 'field_validation.error.required' | translate }}</mat-error>
          </mat-form-field>
          <mat-form-field class="full-width">
            <input matInput placeholder="{{ 'login-page.password' | translate }}" [(ngModel)]="password" type="password" name="password"
              required (change)="clearError()">
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" (click)="login()" [disabled]="!loginForm.valid" color="primary">{{ 'button.login' | translate }}</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>